NEXT_PUBLIC_API_URL=http://localhost:7860
NEXT_PUBLIC_SUPABASE_URL=https://aypsmeoggfsvknmiqloz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF5cHNtZW9nZ2ZzdmtubWlxbG96Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5MTA3NzMsImV4cCI6MjA5NDQ4Njc3M30.RZDSQ32eH_DuSDd8Srz1qTyz6UB8SPfY2rSkk8IxGFk
